#simple {
    background: linear-gradient(to right, #00004d, #008080);          
}

.calculator-grid{
    display:grid;
    justify-content: center;
    align-content: center;
    min-height: 90vh;
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: minmax(80px, auto) repeat(6, 70px);      
    
    button{
        cursor: pointer;
        font-size: 1.5rem;
        border: 1px solid white;
        outline: none;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 5px;
    }

    button:hover{
        background-color: rgba(255, 255, 255, 0.9);
    }

    .dupla-span{
        grid-column: span 2;
    }
}

.output{
    grid-column: 1 / -1;
    background-color: #222;    
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    word-wrap: break-word;
    word-break: break-all;

    .elozo-operand{
        font-size: 1.2rem;
        color: #aaa;
    }

    .aktual-operand{
        font-size: 1.6rem;
        color: white;
    }
}